@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("Cafe24SsurroundAir.woff2") format("woff");
}
@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

input {
  all: unset;
  appearance: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Cafe24SsurroundAir",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
}

body {
  background-color: #142f43;
  font-family: -apple-system, BlinkMacSystemFont, "Cafe24SsurroundAir",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

.logOut {
  margin-top: 50px;
  max-width: 256px;
}

.title {
  margin-top: 50px;
  font-size: 2rem;
}
